<form action="/bikes" method="post">
  <input type="text" name="brand" placeholder="Enter brand" autofocus="autofocus">
  <input type="text" name="model" placeholder="Enter model">
  <input type="text" name="year_made" placeholder="Enter year made">
  <input type="submit" value="Add Bike" id="button1">
</form>